#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#textBox {
  height: 180px;
  width: 315px;
}

#statsCounter {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px; 
}